<html>
   <body>
    <h1>Hello, Rails!</h1>
      <p>
        This is my first attempt at setting up a Ruby on Rails server.
      </p>
    <h4>The following things should be created here:</h4>
      <ul>
        <li>Connection to PostgreSQL</li>
        <li>Dashboard for entering information into db</li>
        <li>A CSS snippet to make it pretty</li>
      </ul>

  <h1>Articles</h1>

  <ul>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>

</html>
